body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #36393f;
  color: #fff;
}
.app {
  display: flex;
  height: 100vh;
}
.servers {
  width: 200px;
  background: #202225;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#serverList button {
  width: 100%;
  margin-bottom: 5px;
  background: #2f3136;
  border: none;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
#newServerBtn {
  background: #5865f2;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: auto;
}
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #36393f;
}
.chat-header {
  padding: 10px;
  background: #2f3136;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}
.msg {
  margin-bottom: 8px;
}
.user {
  font-weight: bold;
  color: #7289da;
}
.user.nitro {
  color: #f04747; /* Nitro rengi */
}
.chat-input {
  display: flex;
  padding: 10px;
  background: #2f3136;
}
.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: #40444b;
  color: #fff;
}
.chat-input button {
  margin-left: 10px;
  padding: 8px 20px;
  background: #5865f2;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.nitro {
  padding: 10px;
  background: #2f3136;
  display: flex;
}
.nitro input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: #40444b;
  color: #fff;
}
.nitro button {
  margin-left: 10px;
  padding: 8px 20px;
  background: #f04747;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
